chardet==5.2.0
cssselect2==0.8.0
graphviz==0.20.3
linkify-it-py==2.0.3
loguru==0.7.3
lxml==5.3.2
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
networkx==3.4.2
pillow==11.2.1
platformdirs==4.3.7
Pygments==2.19.1
PyYAML==6.0.2
reportlab==4.4.0
rich==14.0.0
svglib==1.5.1
textual==3.1.0
tinycss2==1.4.0
typing_extensions==4.13.2
uc-micro-py==1.0.3
webencodings==0.5.1
z3-solver==4.14.1.0
